<!DOCTYPE html>
<html>
 <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Expert Finder - Oregon State University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
    </nav>
    
    <div class = "container pt-5">
     
        <h1 class = "text-center">John Doe</h1>
      </div>

      <div class = "container pt-5">
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3 pt-4 border-top border-left border-success">
                <ul>
                    <h5 class="font-weight-bold"> skills: </h5>
                    <li>Python</li>
                    <li>Agile</li>
                    <li>C++</li>
                    <li>C#</li>
                </ul>
            </div>
            <div class="col-sm-3 pt-4 border-top border-right border-success">
                <ul>
                    <h5 class="font-weight-bold"> Links: </h5>
                    <li>
                        <a href="https://github.com/SawyerPaeth/Expert-Finder-Team-511-CS361-F20">GitHub.com/John-Doe</a>
                    </li>
                    <li>
                        <a href="https://github.com/SawyerPaeth/Expert-Finder-Team-511-CS361-F20">Twitter.com/John-Doe</a>
                    </li>
                    <li>
                        <a href="https://github.com/SawyerPaeth/Expert-Finder-Team-511-CS361-F20">LinkedIn.com/John-Doe</a>
                    </li>
                    
                </ul>
            </div>
            <div class="col-sm-3"></div>
            
        </div> 
       
       
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-3 border-bottom border-left border-success">
                <ul style="list-style-type:none;">
                    <h5 class="font-weight-bold"> Classes: </h5>
                    <li>CS 290, CS 162, CS 454, 
                        CS 361
                    </li>
                    
                </ul>
            </div>
            <div class="col-sm-3 border-bottom border-right border-success">
                <ul style="list-style-type:none;">
                    <h5 class="font-weight-bold"> Organization: </h5>
                    <li>Witness Protection Inc.
                    </li>
                    
                </ul>
            </div>
            <div class="col-sm-3"></div>
        </div> 
    
    </div>
       <div class = "container pt-5">
        <h6 class = "text-center">
            <a href=./searchResult.html>Back to results page</a>
        </h6>
       
        </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>