<!DOCTYPE html>
<html>
 <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        form-horizontal {justify-content:center;}
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Expert Finder - Oregon State University</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    

    <section class="jumbotron text-center">
        <h1> Search for an Expert</h1>
        <h4> Search by skill, course,<br>organization or name </h4>
        <br>
    <div class="row justify-content-center">
        <div class="col=md-12">
            <form class="form-horizontal"> 
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    </section>

    <section class="jumbotron text-left">
        <h3> Search Results for: CS 361 </h3>
        <dl class="col">
            <dt class = "col-2"><a href="./basic_profile.html">John Doe</a></dt>
            <dd class = "col-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        Classes:  CS 290, CS 162, CS 454, <span style="background-color: yellow">CS 361</span>
                    </div>
                    <div class="col-sm">
                    Skills:  Python, Agile, C#, C++
                    </div>
                    <div class="col-sm">
                    Organization: Witness Protection Inc.
                    </div>
                </div>
            </div>
            </dd>
            <dt class = "col-2">Ed Ray</dt>
            <dd class = "col-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        Classes:  <span style="background-color: yellow">CS 361</span>, MTH 251, ME 151
                    </div>
                    <div class="col-sm">
                    Skills:  C#, C++
                    </div>
                    <div class="col-sm">
                    Organization: Retired
                    </div>
                </div>
            </div>
            </dd>
            <dt class = "col-2">Brandon Cooks</dt>
            <dd class = "col-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                    Classes:  BA 112, PE 523, PE 487, <span style="background-color: yellow">CS 361</span>
                    </div>
                    <div class="col-sm">
                    Skills:  JavaScript, Agile, Boost+
                    </div>
                    <div class="col-sm">
                    Organization: NFL
                    </div>
                </div>
            </div>
        </dd>
        <dt class = "col-2">Chad "Ocho-Cinco" Johnson</dt>
            <dd class = "col-10">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                    Classes:  Study Hall,  <span style="background-color: yellow">CS 361</span>, BMF 101
                    </div>
                    <div class="col-sm">
                    Skills:  Discord, Sales, Networking
                    </div>
                    <div class="col-sm">
                    Organization: Retired/Entrepreneur
                    </div>
                </div>
            </div>
        </dd>
        


    </section>

    <section>
        <div class="row justify-content-center">
            <div class="col=md-6">
                Looking for more options? Try <a href="./advancedSearch.html">Advanced Search</a> or <a href="./memberSearch">Member Search</a>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="./myScript.js"></script>
</body>

</html>