<section class="jumbotron text-center">
    <h1> Search By Class</h1>
    <h4> Enter Class Name </h4>
    <br>
<div class="row justify-content-center">
    <div class="col=md-12">
        <form class="form-horizontal" action="/searchResult" method="get"> 
          <label for="SearchTerm"></label>
          <input type="text" id="searchTerm" name="searchTerm" placeholder="Name"><br><br>
          <input type="hidden" id="searchType" name="searchType" value="Class"><br><br>
        </form>
    </div>
</div>
</section>

<section class="jumbotron text-center">
    <h1> Search By Expert Skill</h1>
    <h4> Enter Skill Name </h4>
    <br>
<div class="row justify-content-center">
    <div class="col=md-12">
        <form class="form-horizontal" action="/searchResult" method="get"> 
          <label for="SearchTerm"></label>
          <input type="text" id="searchTerm" name="searchTerm" placeholder="Name"><br><br>
          <input type="hidden" id="searchType" name="searchType" value="Subject"><br><br>
        </form>
    </div>
</div>
</section>

<section class="jumbotron text-center">
    <h1> Search By Expert Organization</h1>
    <h4> Enter Organization Name </h4>
    <br>
<div class="row justify-content-center">
    <div class="col=md-12">
        <form class="form-horizontal" action="/searchResult" method="get"> 
          <label for="SearchTerm"></label>
          <input type="text" id="searchTerm" name="searchTerm" placeholder="Name"><br><br>
          <input type="hidden" id="searchType" name="searchType" value="Organization"><br><br>
        </form>
    </div>
</div>
</section>

<section class="jumbotron text-center">
    <h1> Already know your Expert?</h1>
    <h4> Enter expert's name </h4>
    <br>
<div class="row justify-content-center">
    <div class="col=md-12">
        <form class="form-horizontal" action="/searchResult" method="get"> 
          <label for="SearchTerm"></label>
          <input type="text" id="searchTerm" name="searchTerm" placeholder="Name"><br><br>
          <input type="hidden" id="searchType" name="searchType" value="Name"><br><br>
        </form>
    </div>
</div>
</section>